<div class="header_nav_top">
<div class="nav_top_c"><span class="shouye"><a href="http://www.hebnews.cn/">河北新闻网首页</a></span>
<script class="unnamed1" language="JavaScript">
    &lt;!--
    var enabled = 0; today = new Date();
    var day; var date;
    if(today.getDay()==0) day = "星期日"
    if(today.getDay()==1) day = "星期一"
    if(today.getDay()==2) day = "星期二"
    if(today.getDay()==3) day = "星期三"
    if(today.getDay()==4) day = "星期四"
    if(today.getDay()==5) day = "星期五"
    if(today.getDay()==6) day = "星期六"
    date = (today.getFullYear()) +"年" + (today.getMonth() + 1 ) + "月" + today.getDate() + "日";
    document.write("&lt;span class=\"today\" style=\"font-size:12px;\" &gt;");
    document.write(date);
    document.write("&amp;nbsp;");
    document.write(day);
    document.write("&lt;/span&gt;");
    --&gt;
</script><span style="font-size:12px;" class="today">2015年7月7日&nbsp;星期二</span>
 
<div class="search_form">
<form action="http://search.hebnews.cn:8070/servlet/SearchServlet.do" name="form1" method="post" onsubmit="per_submit();"><input type="hidden" name="op" value="single"><input type="hidden" name="sort" value="date"><input type="hidden" name="siteID"><span><input name="contentKey" maxlength="10" class="search_text" id="contentKey"></span><span><input type="submit" name="submit" value=" " class="search_buttom"></span></form></div>
<div class="nav_top_r">
<ul>
<li><a>河北日报报业集团主办</a><span>|</span> </li>
<li><a rel="nofollow" href="http://www.hebnews.cn/" onclick="this.style.behavior=&amp;apos;url(#default#homepage)&amp;apos;;this.setHomePage(&amp;apos;http://www.hebnews.cn&amp;apos;);">设为首页</a><span>|</span> </li>
<!--<li><a href="http://wap.hebnews.cn/" rel="nofollow">WAP</a><span>|</span> </li>-->
<li><a target="_blank" rel="nofollow" href="http://www.hebnews.cn/rss.xml">RSS</a></li></ul></div></div></div>
<div class="header_nav_18"><a rel="nofollow" href="http://www.hebnews.cn/"><img src="~/Content/law/images/logo_18_2.png" alt="河北新闻网" id="3074269" style="PADDING-LEFT: 10px"></a> 
<ul>
<li><a target="_blank" href="http://hebei.hebnews.cn/"><strong>河北新闻</strong></a> </li>
<li><a target="_blank" href="http://gov.hebnews.cn/">政务</a> </li>
<li><a target="_blank" href="http://comment.hebnews.cn/">时评</a> </li>
<li><a target="_blank" href="http://hebei.hebnews.cn/node_116.htm">原创</a> </li>
<li class="l"><a target="_blank" href="http://bbs.hebnews.cn/"><strong>论坛</strong></a> </li>
<li><a target="_blank" href="http://v.hebnews.cn/">视频</a> </li>
<li><a target="_blank" href="http://ent.hebnews.cn/">娱乐</a> </li>
<li><a target="_blank" href="http://news.hebnews.cn/">热点</a> </li>
<li class="l"><a target="_blank" href="http://finance.hebnews.cn/"><strong>财经</strong></a> </li>
<li><a target="_blank" href="http://guoqi.hebnews.cn/">国企</a> </li>
<li><a target="_blank" href="http://mingjiu.hebnews.cn/">名酒</a> </li>
<li><a target="_blank" href="http://hn481.hebnews.cn/">彩票</a> </li>
<li class="l"><a target="_blank" href="http://health.hebnews.cn/"><strong>健康</strong></a> </li>
<li><a target="_blank" href="http://power.hebnews.cn/">电力</a> </li>
<li><a href="http://cy.hebnews.cn/">创业</a> </li>
<li><a target="_blank" href="http://wenyi.hebnews.cn/">文艺</a> </li>
<li class="l"><a target="_blank" href="http://good.hebnews.cn/"><strong>好人墙</strong></a> </li>
<li><a target="_blank" href="http://yq.hebnews.cn/">舆情</a> </li>
<li><a target="_blank" href="http://yglz.hebnews.cn/">民声访谈</a> </li>
<li class="l"><a target="_blank" href="http://woda.hebnews.cn/"><strong>我打网</strong></a> </li>
<li><a target="_blank" href="http://tousu.hebnews.cn/">阳光理政</a> </li></ul>
<ul>
<li><a target="_blank" href="http://world.hebnews.cn/"><strong>国内国际</strong></a> </li>
<li><a target="_blank" href="http://lishi.hebnews.cn/">历史</a> </li>
<li><a target="_blank" href="http://zhuanti.hebnews.cn/">专题</a> </li>
<li><a target="_blank" href="http://world.hebnews.cn/node_152.htm">社会</a> </li>
<li class="b"><a target="_blank" href="http://bbs.hebnews.cn/smbk/"><strong>博客</strong></a> </li>
<li><a target="_blank" href="http://wyreport.hebnews.cn/">报料</a> </li>
<li><a target="_blank" href="http://www.hebnews.cn/node_35543.htm">区县</a> </li>
<li><a target="_blank" href="http://photo.hebnews.cn/">图库</a> </li>
<li class="b"><a target="_blank" href="http://house.hebnews.cn/"><strong>房产</strong></a> </li>
<li><a target="_blank" href="http://auto.hebnews.cn/">汽车</a> </li>
<li><a target="_blank" href="http://travel.hebnews.cn/">旅游</a> </li>
<li><a target="_blank" href="http://jt.hebnews.cn/">交通</a> </li>
<li class="b"><a target="_blank" href="http://edu.hebnews.cn/"><strong>教育</strong></a> </li>
<li style="padding:5px 3px 0 0"> <a target="_blank" href="http://txy.hebnews.cn/">通讯员</a></li>
<li><a target="_blank" href="http://xyjj.hebnews.cn/">县域经济</a></li>
<li class="b"><a target="_blank" href="http://hipporeporter.hebnews.cn/"><strong>小记者</strong></a> </li>
<li><a target="_blank" href="http://music.hebnews.cn/">音乐</a> </li>
<li><a target="_blank" href="http://sxhb.hebnews.cn/">善行河北</a> </li>
<li class="b"><a target="_blank" href="http://mobile.hebnews.cn/index.htm"><strong>手机报</strong></a> </li>
<li><a target="_blank" href="http://bffw.hebnews.cn/">北方防务</a> </li></ul></div>
<div class="wrap"> 
 <div class="main"> 
<div class="top">
<div class="logo"><img src="~/Content/law/images/zixun_03.jpg" /></div>
<div class="rtbtn">
<ul>
<li><a href="/law/person"><img src="~/Content/law/images/zixun_06.jpg" /></a><p><a href="/law/person">个人中心</a></p></li>
<li><a href="#"><img src="~/Content/law/images/zixun_08.jpg" /></a><p><a href="#">问法简介</a></p></li>
<li><a href="#"><img src="~/Content/law/images/zixun_10.jpg" /></a><p><a href="#">使用帮助</a></p></li>
</ul>
</div>
</div>
<!--导航开始-->   
<div class="nav">
<ul>
<li class="first"><a href="/">首页</a></li>
<li class="sep"></li>
<li><a href="http://tousu.hebnews.cn/node_107987.htm" target="_blank">问法聚焦</a></li>
<li class="sep"></li>
<li><a href="/zx/">法律咨询</a></li>
@*<li class="sep"></li>*@
@*<li><a href="/wt/index/">案件委托</a></li>*@
<li class="sep"></li>
<li><a href="/lawyer">找律师</a></li>
<li class="sep"></li>
<li>            <a href="http://tousu.hebnews.cn/node_107988.htm" target="_blank">法制报道</a></li>
<li class="sep"></li>
<li><a href="http://tousu.hebnews.cn/node_107991.htm" target="_blank">司法动态</a></li>
</ul>
</div> 
<!--导航结束--> 
 <!--头图开始-->  
<!--头图结束--> 
