<div class="footlist" style="MARGIN-TOP: 10px">
<ul>
<li><a target="_blank" rel="nofollow" href="http://help.hebnews.cn/index.html">关于我们</a>| </li>
<li><a target="_blank" rel="nofollow" href="http://help.hebnews.cn/bqsm.html">版权声明</a>| </li>
<li><a target="_blank" rel="nofollow" href="http://help.hebnews.cn/fwtk.html">服务条款</a>| </li>
<li><a target="_blank" rel="nofollow" href="http://dynamic.hebnews.cn/node_7660.htm">广告业务</a>| </li>
<li><a target="_blank" rel="nofollow" href="http://help.hebnews.cn/sxsq.html">实习申请</a>| </li>
<li><a target="_blank" rel="nofollow" href="http://help.hebnews.cn/wstg.html">网上投稿</a>| </li>
<li><a target="_blank" rel="nofollow" href="http://help.hebnews.cn/xwrx.html">新闻热线</a>| </li>
<li><a target="_blank" href="http://www.hebnews.cn/sitemap.htm">网站地图</a> </li></ul></div>
<div class="foottxt">
<li>河北新闻网版权所有 本站点信息未经允许不得复制或镜像 </li>
<li>法律顾问：<a target="_blank" rel="nofollow" href="http://zhuanti.hebnews.cn/2012/node_41101.htm" title="">河北球衡律师事务所</a> <a target="_blank" rel="nofollow" href="http://zhuanti.hebnews.cn/2012/node_41103.htm" title="">杨建国</a> </li>
<li class="res_footer"><a target="_blank" href="http://www.hebnews.cn/">www.hebnews.cn</a> copyright &copy; 2000 - 2015 </li>
<li>新闻热线:0311-67562054 广告热线:0311-67562966 新闻投诉:0311-67562994 </li>
<li>冀ICP备 09047539号-1 | 互联网新闻信息服务许可证编号:1312006002 </li>
<li>广播电视节目制作经营许可证（冀）字第101号|信息网络传播视听节目许可证0311618号 </li>
<li style="HEIGHT: 54px"><a target="_blank" rel="nofollow" href="http://hbjubao.hebei.com.cn/" title="河北互联网违法和不良信息举报"><img src="~/Content/law/images/f8b156a3fa6615f4a1861d.jpg" id="5489252"></a> <a target="_blank" rel="nofollow" href="http://www.miibeian.gov.cn/" title="经营性网站备案信息"><img src="~/Content/law/images/001aa0c3d91f119fcd371f.gif" id="5067222"></a> <a target="_blank" rel="nofollow" href="http://net.china.com.cn/" title="不良信息举报中心"><img src="~/Content/law/images/001aa0c3d91f119fcd3720.gif" id="5067223"></a> <a target="_blank" rel="nofollow" href="http://press.gapp.gov.cn/" title="新闻记者证管核系统"><img src="~/Content/law/images/001aa0c3d91f119fcd3721.gif" id="5067224"></a> </li></div>
</div>
