@charset "utf-8";
/* CSS Document */
body,
button, input, select, textarea /* for ie */ {
    font: 12px/1.6 /*字号与行高*/
	Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /*字体*/
}
a{ text-decoration:none; color:#535353}
a:hover{ color:#d90000}
/*------------------------------------------------------------------*/
body{ }
.top{ padding-top:20px; padding-bottom:5px}
.top .logo{width:458px; height:60px; float:left}
.top .rtbtn{width:226px; float:right; margin-right:20px}
.top .rtbtn ul li{width:50px; float:left; margin-right:20px; display:inline}
.top .rtbtn ul li a img{ display:block; margin:0 auto}

.wrap{ width:980px; margin:0 auto }
.main{ width:980px; background:#ffffff}
.nav{ height:40px; background:url(../images/listnavbg.jpg); line-height:40px; padding-left:25px; border:1px solid #6392d7; border-top-width:2px; clear:both }
.nav ul li{ float:left; color:#FFFFFF;}
.nav ul li.sep{width:5px; background:url(../images/zixun_17.jpg) no-repeat center; margin:0 30px; height:40px;}
.nav ul li.first{background:url(../images/zixun_20.jpg) no-repeat center bottom;}
.nav ul li a{color:#ffffff;font-size:16px; font-family:"微软雅黑"; display:block; width:80px; text-align:center}
.nav ul li a:hover{ color:#CC3300; background:url(../images/zixun_20.jpg) no-repeat center bottom;}
.pos{ height:50px;line-height:50px; font-size:16px;font-family:"微软雅黑"; color:#1162c9 }
.pos span{ margin-right:8px; color:#6c6c6c}
.pos span a{ font-size:12px; font-family:"宋体"}
.content1{ width:980px;margin-top:3px; margin-bottom:10px; }
.content1 .left{ width:670px;float:left; display:inline;}
.tt{ height:2px; background:url(../images/xixun-09.jpg); }
.zxcon{width:668px; border:1px solid #c8c8c8; border-top:0; padding-top:15px; padding-bottom:30px;  }
.zxcon .sch{width:505px; height:34px; background:url(../images/lawyer_03.jpg); margin:0px auto;padding-left:130px; padding-top:15px; position:relative}
.zxcon .sch .btn{ display:block; cursor:pointer; border:0; width:64px; height:25px; background:url(../images/lawyer_06.jpg); position:absolute; right:30px; top:14px}
.zxcon ul{ padding-top:24px}
.zxcon ul li{width:657px; height:153px; margin-left:5px; position:relative}
.zxcon ul li.sep{ height:10px; border-bottom:1px dashed #CCCCCC; margin-bottom:10px}
.zxcon ul li.first{ background:#f4f4f4}
.zxcon ul li a img{ display:block; width:106px; height:123px; float:left; margin:15px 0px 15px 10px}
.zxcon ul li div{width:510px; float:left; margin-left:20px; display:inline}
.zxcon ul li div p{ height:27px; line-height:27px}
.zxcon ul li div p.lawyername{ margin-top:18px;}
.zxcon ul li div p.lawyername span.xm{ color:#003c95; font-family:"微软雅黑"; font-size:14px; }
.zxcon ul li div p.lawyername span a{ margin-right:14px;color:#003c95;}
.zxcon ul li div p.lawyername span.area{ margin-left:24px;color:#888888;}
.zxcon ul li div p.desc{ color:#aaaaaa}
.zxcon ul li div p.desc a{ color:#07519a}
.zxcon ul li div p.desc a:hover{ color:#d90000}
.zxcon ul li div .zxls{width:63px; height:18px;background:#fff4e7; border:1px solid #ffd1b7; text-align:center; line-height:18px; margin-left:0; margin-top:8px}
.zxcon ul li div .zxls a{ color:#ff6600;}
.zxcon ul li .phone{width:144px; height:16px; background:url(../images/lawyer_07.jpg) no-repeat 0 center; padding-left:20px; position:absolute; right:12px; top:22px; color:#333333; font-size:12px}
.right{width:285px; float:right; margin-top:45px }
.right .zxbtn{width:283px; height:130px; border:1px solid #e2e2e2; border-top-width:5px;margin-bottom:10px}
.right .zxbtn a{ display:block; width:249px; height:46px; margin:13px 0 0 15px}
.right .zxbtn a.zx{ background:url(../images/zixun_32.jpg)}
.right .zxbtn a.wt{ background:url(../images/zixun_36.jpg)}
.right .cj{ margin-bottom:10px; border:1px solid #e1e1e1; padding-bottom:10px; background:#fcfcfc}
.right .cj .tt{ height:38px; line-height:38px; background:url(../images/zixun_41.jpg) 0 bottom no-repeat;}
.right .cj .tt .rmzx{ display:block; float:left; margin-left:8px;}
.right .cj .tt .more{ display:block; float:right; margin-right:10px}
.right .cj .tt .rmzx a{ font-size:16px; font-family:"微软雅黑"; color:#d22800}
.right .cj ul{ padding-top:8px; padding-left:15px }
.right .cj ul li{ line-height:32px; height:32px; background:url(../images/wenfa_59.png) no-repeat 0px center; padding-left:12px; margin-left:0px; border-bottom:1px dashed #cecece; width:235px;}
.right .cj ul li.first{ border-bottom:0}
.right .cj ul li a{ font-size:12px; } 
.clear{ clear:both}

.fk{ clear:both; padding-bottom:10px;}
.fk p{ color:#8b8b8b; text-align:center; height:24px; line-height:24px}
.fk p a{ color:#8b8b8b; margin:0 8px}
.pagination td {
    border: 0 none;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
}